body{
    background: #f9f9f9;
    font-family: Sporting-Grotesque, Helvetica Neue, Arial, sans-serif;
    font-weight: normal;
}

/*@font-face {
    font-family: Terminal-Grotesque;
    src: url(../fonts/Terminal-Grotesque.woff) format('woff'), url(../fonts/Terminal-Grotesque.woff2) format('woff2');
    font-weight: 'normal';
    font-style: normal
}*/

@font-face {
    font-family: Sporting-Grotesque;
    src: url(../fonts/Sporting_Grotesque-Regular_web.woff) format('woff'), url(../fonts/Sporting_Grotesque-Regular_web.woff2) format('woff2');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Sporting-Grotesque;
    src: url(../fonts/Sporting_Grotesque-Bold_web.woff) format('woff'), url(../fonts/Sporting_Grotesque-Bold_web.woff2) format('woff2');
    font-weight: bold;
    font-style: normal
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding-left: 10px;
    margin-top:0;
    list-style-type: none;
}

li {
    padding-left: 0;
    text-align: left;
}

.section {
    margin-bottom: 5px;
    margin-top: 15px;
}

li.active a {
    color: #aaaaaa;
}

#menu{
    font-size: 0.9em;
    margin: auto;
    margin-top:0;
    position: absolute;
    left: 16px;
    width: 20%;
}

#content{
    position: absolute;
    top: 0;
    width: 70%;
    max-width: 1090px;
    margin-left: 20%;
}

#content a {
    border-bottom: 2px solid black;
    display: inline-block;
    line-height: 0.81;
    text-shadow:
    1px 1px #f9f9f9,
    -1px 1px #f9f9f9,
    2px 0 0 #f9f9f9,
    -2px 0 0  #f9f9f9;
}

#content img{
    max-width: 100%;
    max-height: 611px;;
}

h1{
    display: inline-block;
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: -1px;
}

h1 strong{
    font-weight: bold;
}

#responsiveLink {
    display: none;
}

/* Description part in articles */
#description p {
    font-size: 0.9em;
    text-align: center;
    margin: auto;
    margin-top: 0;
}

/* Media Queries */

@media only screen and (max-width: 1553px) {
    #content {
        width: 60%;
    }
     #content img {
        width: 100%;
        max-height: none;
     }
}

@media only screen and (max-width: 1220px) {
    #content {
        width: 60%;
        margin-left: initial; 
        right: 5%;
    }
}

@media (min-width: 320px) and (max-width: 850px) {
    #logo{
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
    }

    h1 {
        margin-bottom: 0;
    }

    #menu {
        position: relative;
        width: auto;
        text-align: center;
        left: initial;
    }

    #menu li{
        padding-left: 16px;
    }

    #menu .article {
        padding-left: 24px;
    }

    .section{
        text-align: left;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    /* when the menu has not been opened, every ul is hidden */
    .mainMenu ul{
        display: none;
    }

    /* once menu is open, this class take over and displays it */
    .responsiveMenu ul{
        display: block;
        margin-bottom: 10px;
    }

    #menu.responsiveMenu {
        margin-top: 18px;
    }

    #content {
        position: relative;
        width: 85%;
        margin: auto;
        right: initial;
    }

    #responsiveLink{
        display: block;
        width: 100%;
        margin-top:5px;
    }

    #responsiveLink a {
        color: grey;
    }

    #description p {
        font-size: 0.8em;
    }
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 3%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/** Basic styles for an animated element */
.scene_element {
   animation-duration: 0.5s;
   transition-timing-function: ease-out;
   animation-fill-mode: both;

}

/** An element that fades in */
.scene_element--fadein {
   animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
   animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
   animation-name: fadeInRight;
}

