body{
    background: #f9f9f9;
    font-family: Sporting-Grotesque, Helvetica Neue, Arial, sans-serif;
    font-weight: normal;
}

/*@font-face {
    font-family: Terminal-Grotesque;
    src: url(../fonts/Terminal-Grotesque.woff) format('woff'), url(../fonts/Terminal-Grotesque.woff2) format('woff2');
    font-weight: 'normal';
    font-style: normal
}*/

@font-face {
    font-family: Sporting-Grotesque;
    src: url(../fonts/Sporting_Grotesque-Regular_web.woff) format('woff'), url(../fonts/Sporting_Grotesque-Regular_web.woff2) format('woff2');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Sporting-Grotesque;
    src: url(../fonts/Sporting_Grotesque-Bold_web.woff) format('woff'), url(../fonts/Sporting_Grotesque-Bold_web.woff2) format('woff2');
    font-weight: bold;
    font-style: normal
}

a {
    color: black;
}

ul a {
   text-decoration: none;
}

h1 a {
   text-decoration: none;
}

ul {
    padding-left: 10px;
    margin-top:0;
    list-style-type: none;
}

li {
    padding-left: 0;
    text-align: left;
}

li.active a {
    color: #aaaaaa;
}

#menu{
    margin: auto;
    margin-top:0;
    position: absolute;
    left: 10px;
    width: 20%;
}

#content{
    width: 60%;
    margin: auto;
}

#content img{
    max-width: 100%;
    max-height: 600px;;
}

h1{
    font-weight: normal;
    letter-spacing: -1px;
}

h1 strong{
    font-weight: bold;
}
