body{
    background: #f9f9f9;
    font-family: Sporting-Grotesque, Helvetica Neue, Arial, sans-serif;
    font-weight: normal;
}

/*@font-face {
    font-family: Terminal-Grotesque;
    src: url(../fonts/Terminal-Grotesque.woff) format('woff'), url(../fonts/Terminal-Grotesque.woff2) format('woff2');
    font-weight: 'normal';
    font-style: normal
}*/

@font-face {
    font-family: Sporting-Grotesque;
    src: url(../fonts/Sporting_Grotesque-Regular_web.woff) format('woff'), url(../fonts/Sporting_Grotesque-Regular_web.woff2) format('woff2');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Sporting-Grotesque;
    src: url(../fonts/Sporting_Grotesque-Bold_web.woff) format('woff'), url(../fonts/Sporting_Grotesque-Bold_web.woff2) format('woff2');
    font-weight: bold;
    font-style: normal
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding-left: 10px;
    margin-top:0;
    list-style-type: none;
}

li {
    padding-left: 0;
    text-align: left;
}

.section {
    margin-bottom: 5px;
    margin-top: 15px;
}


li.active a {
    color: #aaaaaa;
}

#menu{
    font-size: 0.9em;
    margin: auto;
    margin-top:0;
    position: absolute;
    left: 16px;
    width: 20%;
}

#content{
    position: absolute;
    top: 0;
    width: 70%;
    margin-left: 20%;
}

#content a {
    border-bottom: 2px solid black;
    display: inline-block;
    line-height: 0.81;
    text-shadow:
    1px 1px #f9f9f9,
    -1px 1px #f9f9f9,
    2px 0 0 #f9f9f9,
    -2px 0 0  #f9f9f9;
}

#content img{
    max-width: 100%;
    max-height: 611px;;
}

h1{
    display: inline-block;
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: -1px;
}

h1 strong{
    font-weight: bold;
}

#smallscreen {
    display: none;
}

/* Media Queries */

@media only screen and (max-width: 1553px) {
    #content {
        width: 60%;
    }
     #content img {
        width: 100%;
        max-height: none;
     }
}

@media only screen and (max-width: 1220px) {
    #content {
        width: 60%;
        margin-left: initial; 
        right: 5%;
    }
}

@media (min-width: 320px) and (max-width: 850px) {
    #logo{
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
    }

    #menu {
        position: relative;
        width: auto;
        text-align: center;
    }

    #menu ul{
        display: none;
    }

    #content {
        position: relative;
        width: 75%;
        margin: auto;
        right: initial;
    }

    #smallscreen{
        display: initial;
        color: grey;
    }
}