<div id="menu" class="mainMenu">
    <ul>
      {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="section"> {{ .Name }} </li>
          <ul>
            {{ range .Children }}
              <li class="article {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"><a href="{{ .URL}} "> {{ .Title }} </a></li>
            {{ end }}
          </ul>
          {{ else }}
          <li>
            <a href="{{ .URL }}">{{ .Name }} </a>
          </li>
          {{ end }}
      {{ end }}
        <li class="section hardcoded"><a href="/contact/">contact</a></li>
    </ul> 
  <div id="responsiveLink">
    <a href="#">menu</a>
  </div>
</div>